<?xml version="1.0" encoding="utf-8"?>
<!-- Sample config file used as a "Trasnform" template while building under DEBUG configuration. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="default" connectionString="debugConnectionString"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>